<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'login/login_page.css' %}">
</head>

<body>
    <form action="{% url 'login:login_page' %}" method="post">
        {% csrf_token %}
        <h1>Login to your account</h1>

        <input type="hidden" name="next" value="{{request.GET.next}}">

        {% if success == False %}
        <div class="error-message">
            <p>User name or password is incorrect!</p>
        </div>
        {% endif %}

        <div class="input-group">
            <label for="user_name">Username</label>
            <input type="text" id="user_name" name="user_name" placeholder="Enter your username" required>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</body>
