{% extends 'menu.html' %}

{% block title %}
    <title>Answer question {{selected_question.id}}</title>
{% endblock title %}
    
    {% block content %}
        
        <h1>{{selected_question.content}}</h1>

        {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
        {% endif %}
            
        <form action="{% url 'form:question_detail_view_url' selected_question.id %}" method="post">
            {% csrf_token %}
            
            <div class="my-3">
                {% for choice in choice_list %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="choice" value="{{choice.id}}" id="choice{{ forloop.counter }}">
                        <label class="form-check-label" for="choice{{ forloop.counter }}">{{choice.option}}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    {% endblock content %}
        